.single-campaign-navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $color_border_dark;
    padding: .6rem 2rem;
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        li{
            &:not(:last-child){
                margin-right: 2rem;
            }
            a{
                text-decoration: none;
                padding: 1rem;
                font-size: 1.4rem;
                color: $color_text;
            }
            .active{
                color: $color_primary_light;
                font-weight: 600;
                border-bottom: 2px solid $color_primary_light;
            }
        }
    }
}
