.campaign-prospects{
    overflow: hidden;
    display: grid;
    grid-template-columns: 4% repeat(11, 1fr);
    &__container{
        margin-top: 5rem;
        height: 100vh;
        grid-column: 2 / span 11;
        &--content{
            background-color: white;
            width: 50%;
            display: flex;
            justify-content: center;
            margin: auto;
            padding: 2rem;
            flex-direction: column;
            align-items: center;
        }
    }
}
